.env
*.crc
.python38NL
/python38NL
/.idea
/Cryptocurrency Trend Predict Real Time/.ipynb_checkpoints
/Cryptocurrency Trend Predict Real Time/Real_Time_App/Spark/checkpoint
/Cryptocurrency Trend Predict Real Time/Real_Time_App/Streamlit/*.parquet
/python38NL/Lib
/python38NL/Scripts
